---
import Layout from "../layouts/Layout.astro";
import Joker from "../components/Joker.astro";
import { jokers } from "../jokers.ts";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center gap-8 text-white font-balatro py-8">
    <h1 class="text-8xl">Aiz's Balatro Mod</h1>
    <p class="text-2xl text-center">
      A chaotic Balatro Mod with {jokers.length} Jokers.<br />
      Some Jokers are still WIP
    </p>
    <a
      href="https://github.com/Aiz0/aiz-balatro-mod/releases/latest"
      class="text-3xl bg-balatro-badge-rare shadow-balatro shadow-balatro-badge-rare-dark text-shadow rounded-lg p-4 active:shadow-none active:translate-y-1"
      >Download on Github</a
    >
    <h2 class="text-6xl">Jokers</h2>
    <div class="grid grid-cols-3 gap-8 px-8 w-fit">
      {
        jokers.map((joker) => (
          <Joker
            name={joker.name}
            badge={joker.badge}
            text={joker.text}
            image={joker.image}
            soul={joker.soul}
          />
        ))
      }
    </div>
  </main>
</Layout>
