---
import Layout from "../layouts/Layout.astro";
import Joker from "../components/Joker.astro";
import { jokers } from "../jokers.ts";
---

<Layout title="Welcome to Astro.">
  <div class="flex justify-center">
    <main>
      <div class="grid grid-cols-3 gap-8 px-8 w-fit">
        {
          jokers.map((joker) => (
            <Joker
              name={joker.name}
              badge={joker.badge}
              text={joker.text}
              image={joker.image}
              soul={joker.soul}
            />
          ))
        }
      </div>
    </main>
  </div>
</Layout>
