---
import Layout from "../layouts/Layout.astro";
import Joker from "../components/Joker.astro";
import { jokers } from "../jokers.ts";
---

<Layout title="Aiz's Balatro Mod">
  <main class="flex flex-col items-center gap-8 py-8 font-balatro text-white">
    <h1 class="text-shadow-2xl text-center text-8xl">Aiz's Balatro Mod</h1>
    <p class="text-center text-2xl">
      A chaotic Balatro Mod with {jokers.length} Jokers.<br />
      Some Jokers are still WIP
    </p>
    <div
      class="custom-shadow-balatro-red-dark active:translate-y-1 active:filter-none"
    >
      <a
        href="https://github.com/Aiz0/aiz-balatro-mod/releases/latest"
        class="text-shadow pixel-corners bg-balatro-red p-4 text-3xl"
        >Download on Github</a
      >
    </div>
    <h2 class="text-shadow-xl text-6xl">Jokers</h2>
    <button id="sort_jokers">Sort ID</button>
    <button id="sort_jokers_rarity">Sort Rarity</button>
    <div
      id="jokers"
      data-sorted="index"
      class="flex w-fit flex-wrap place-content-center gap-8 px-8"
    >
      {
        jokers.map((joker, index) => (
          <Joker
            name={joker.name}
            badge={joker.badge}
            text={joker.text}
            image={joker.image}
            soul={joker.soul}
            index={index}
          />
        ))
      }
    </div>
  </main>
</Layout>

<script>
  // Function to sort Data
  document.getElementById("sort_jokers_rarity").addEventListener("click", () =>
    sort_elements("badge", (a, b) => {
      const compare = a.dataset.badge - b.dataset.badge;
      if (compare == 0) {
        return a.dataset.index - b.dataset.index;
      }
      return compare;
    }),
  );

  document.getElementById("sort_jokers").addEventListener("click", () =>
    sort_elements("index", (a, b) => {
      return a.dataset.index - b.dataset.index;
    }),
  );

  function sort_elements(selector, comparator) {
    const parent = document.getElementById("jokers");
    if (parent.dataset.sorted == selector) {
      Array.from(document.querySelectorAll(`[data-${selector}]`))
        .reverse()
        .forEach((e) => document.getElementById("jokers").appendChild(e));
    } else {
      parent.dataset.sorted = selector;
      Array.from(document.querySelectorAll(`[data-${selector}]`))
        .sort(comparator)
        .forEach((e) => document.getElementById("jokers").appendChild(e));
    }
  }
</script>
