---
import Layout from "../layouts/Layout.astro";
import Joker from "../components/Joker.astro";
import { jokers } from "../jokers.ts";
---

<Layout title="Welcome to Astro.">
  <main>
    {
      jokers.map((joker) => (
        <Joker
          name={joker.name}
          badge={joker.badge}
          text={joker.text}
          image={joker.image}
          soul={joker.soul}
        />
      ))
    }
  </main>
</Layout>
