---
interface Props {
    text: string;
    animation: "1" | "2";
    class?: string;
    shadow?: boolean;
}
const { text, animation, class: className, shadow = true } = Astro.props;
---

<span>
    <div class={`grid *:grid-area-[1/1] ${className ?? ""}`}>
        <span>
            {
                text.split("").map((char, index) => (
                    <span
                        class:list={[
                            `text-animation-${animation}`,
                            { "inline-block": char !== " " },
                        ]}
                        style={`--index: ${index}`}
                        data-text={char}
                    >
                        {char}
                    </span>
                ))
            }
        </span>
        <!-- Used as Text shadow -->
        {
            shadow && (
                <span
                    aria-hidden
                    class="text-black/20 relative top-[0.075em] z--1"
                    class:list={[{ "left-[0.075em]": animation === "2" }]}
                >
                    {text}
                </span>
            )
        }
    </div>
</span>

<style>
    @media (property: --offset) {
        syntax: "<length>";
        inherits: false;
        initial-value: 0px;
    }

    .text-animation-1 {
        --animation-duration: 2000ms;

        animation: floating var(--animation-duration) ease-in-out infinite
            alternate;
    }
    .text-animation-2 {
        --animation-duration: 2400ms;
        --animation-offset: 250ms;
        animation: bouncing var(--animation-duration) ease-in-out infinite;
    }
    .text-animation-1,
    .text-animation-2 {
        --offset-max: 6;
        --animation-offset: calc(var(--animation-duration) / var(--offset-max));
        --offset-index: mod(var(--index), var(--offset-max));
        --offset-total: calc(var(--offset-index) * var(--animation-offset));
        animation-delay: var(--offset-total);
    }

    @keyframes floating {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-0.075em);
        }
    }
    @keyframes bouncing {
        30% {
            transform: translateY(0);
        }
        15% {
            transform: translateY(-0.075em);
        }
    }
</style>
