---
interface Props {
    text: string;
    animation: "1" | "2";
    class?: string;
}
const { text, animation, class: className } = Astro.props;
---

<span>
    <div class={`grid *:grid-area-[1/1] ${className ?? ""}`}>
        <span>
            {
                text.split("").map((char, index) => (
                    <span
                        class:list={[
                            `text-animation-${animation}`,
                            { "inline-block": char !== " " },
                        ]}
                        style={{
                            animationDelay: `calc((var(--animation-duration) - (250ms * ${index})) * -1)`,
                        }}
                        data-text={char}
                    >
                        {char}
                    </span>
                ))
            }
        </span>
        <!-- Used as Text shadow -->
        <span aria-hidden class="text-black/20 relative bottom-[-0.1em] z--1"
            >{text}</span
        >
    </div>
</span>

<style>
    @media (property: --offset) {
        syntax: "<length>";
        inherits: false;
        initial-value: 0px;
    }

    .text-animation-1 {
        --shadow-offset: 0.1em;
        --shadow-color: oklch(0 0 0 / 0.2);
        --animation-duration: 2000ms;
        animation: floating var(--animation-duration) ease-in-out infinite
            alternate;
    }
    .text-animation-2 {
        --animation-duration: 3000ms;
        animation: bouncing var(--animation-duration) ease-in-out infinite;
    }

    @keyframes floating {
        from {
            --offset: 0px;
            transform: translateY(var(--offset));
        }
        to {
            --offset: -0.1em;
            transform: translateY(var(--offset));
        }
    }
    @keyframes bouncing {
        20% {
            --offset: 0px;
            transform: translateY(var(--offset));
            text-shadow: 0 var(--shadow-offset) var(--shadow-color);
        }
        10% {
            --offset: -0.1em;
            transform: translateY(var(--offset));
            text-shadow: 0 calc(var(--offset) * -1 + var(--shadow-offset))
                var(--shadow-color);
        }
    }
</style>
