---
import { Image } from "astro:assets";
import { type jokerData } from "../data/jokers";

interface Props {
    joker: jokerData;
    anchorName: number;
}
const { joker, anchorName } = Astro.props;

const base_path = "/src/assets/jokers";
const images = import.meta.glob<{ default: ImageMetadata }>(
    `/src/assets/jokers/*.png`,
);
const image_path = `${base_path}/${joker.image}.png`;
if (!images[image_path])
    throw new Error(
        `"${image_path}" does not exist in glob: "${base_path}/*.png"`,
    );
---

<button
    data-card
    data-anchor-name={anchorName}
    class="grid *:grid-area-[1/1] h-full"
    style={`anchor-name: --${anchorName}`}
>
    <Image
        src={image_path}
        alt={joker.name}
        class="[image-rendering:pixelated] aspect-ratio-[142 / 190] object-cover object-left h-full"
        width={142}
        height={190}
        fit="cover"
    />
    {
        joker.soul && (
            <Image
                src={image_path}
                alt={joker.name}
                class="[image-rendering:pixelated] aspect-ratio-[142 / 190] h-full object-cover object-right"
                width={142}
                height={190}
                fit="cover"
            />
        )
    }
</button>

<script>
    const cardButtons = document.querySelectorAll("[data-card]");
    const cardInfos = document.querySelectorAll("[data-card-info]");
    cardButtons.forEach((button) => {
        const anchorName = button.dataset.anchorName;
        const cardInfo = document.querySelector(
            `[data-card-info="${anchorName}"]`,
        );

        const showCardInfo = () => {
            // Prevent multiple cards from being selected at once
            cardInfos.forEach((info) => {
                info.removeAttribute("data-selected");
            });
            cardInfo.setAttribute("data-selected", "");
        };

        button.addEventListener("click", showCardInfo);
        button.addEventListener("focus", showCardInfo);
        button.addEventListener("mouseover", showCardInfo);

        button.addEventListener("blur", () => {
            cardInfo.removeAttribute("data-selected");
        });
        button.addEventListener("mouseout", () => {
            cardInfo.removeAttribute("data-selected");
        });
    });
</script>
