---
import PixelBorderWrapper from "./PixelBorderWrapper.astro";
import Card from "./Card.astro";
import CardInfo from "./CardInfo.astro";
import jokers from "../data/jokers.ts";
import { colors } from "../theme";
---

<PixelBorderWrapper
    borderColor={colors.balatro.grey.DEFAULT}
    classNameInner="bg-balatro-black-light p-4 grid justify-center"
>
    <PixelBorderWrapper
        borderColor={colors.balatro.black.DEFAULT}
        classNameInner="bg-balatro-black"
    >
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5">
            {
                jokers.map((joker, index) => (
                    <Card joker={joker} anchorName={index} />
                ))
            }
        </div>
    </PixelBorderWrapper>
</PixelBorderWrapper>
<div class="overflow-hidden h-0 w-0 [position-visibility:anchors-visible]">
    {
        jokers.map((joker, index) => (
            <CardInfo
                name={joker.name}
                text={joker.text}
                badge={joker.badge}
                anchorName={index}
            />
        ))
    }
</div>
